
body{
    background-color: rgb(233, 136, 217);
}

h1{
    text-align: center;
}

.hijo{
    width: 80px;
    height: 80px;
    border: 2px solid skyblue;
    background-color: rgb(160, 216, 105);
    color: beige;
    font-size: 35px;
    text-align: center;
    margin: 15px;
}

.padre{
    display: flex;
    /*flex-direction: column; en columna;
    /*flex-direction: row-reverse; invierte el orden
    flex-direction: row;
    
}